body {
    background: linear-gradient(coral, greenyellow, darkgreen);
    background-size: cover;
    font-family: "Chewy", system-ui;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: coral;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: coral;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#increment-btn:hover {
    background: crimson;
}

#save-btn {
    background: darkgreen;
}

#save-btn:hover {
    background: green;
}

#reset-btn {
    background: darkblue;
}

#reset-btn:hover {
    background: blue;
}

p {
    color: darkgreen;
    text-shadow: -3px 3px 2px whitesmoke;
}

#save-el {
    margin-top: 0px;
    font-size: 25px;
}

#main-section {
    background-image: url("dogs2.jpg");
    background-size: cover;
    border: 8px solid coral;
    border-radius: 30px;
    width: 400px;
    height: 525px;
    margin: 30px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}